.past-releases-content {
    width: 100%;
    max-width: 700px;
}

.description ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    font-size: 21px;
}

.description li {
    margin: 5px 0;
    text-align: left;
}

/* .soundcloud-info {
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    margin-top: 5px;
}

.soundcloud-info a {
    color: #cccccc;
    text-decoration: none;
} */