.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu-item {
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: left;
    width: 100%;
}

.menu-item:hover {
    color: #ddd;
}

/* .menu-item.active {
    color: pink;
} */

.menu-item.size-small {
    font-size: 14px;
    color: rgb(0, 157, 255);
}

.menu-item.size-medium {
    font-size: 18px;
    color: rgb(0, 255, 0);
}

.menu-item.size-large {
    font-size: 24px;
    color: rgb(255, 0, 225);
}

@media (max-width: 768px) {
    .menu-item {
        margin-bottom: 15px;
    }
}