.content-area {
    flex-grow: 1;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.content-area div {
    font-size: 24px;
    text-align: left;
}

.new-tunes-content,
.past-releases-content {
    width: 100%;
    max-width: 700px;
}

.description {
    font-size: 16px;
    color: #cccccc;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
}

.description p {
    font-weight: bold;
}

.description .normal-text {
    font-weight: normal;
    font-size: 21px;
}

.description ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    font-size: 21px;
}

.description li {
    margin: 5px 0;
    text-align: left;
}

.soundcloud-info {
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    margin-top: 5px;
}

.soundcloud-info a {
    color: #cccccc;
    text-decoration: none;
}