.content-area {
    flex-grow: 1;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.content-area div {
    font-size: 24px;
    text-align: left;
}

.description {
    font-size: 16px;
    color: #cccccc;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
}

.description .bold-text {
    font-weight: bold;
}

.description .normal-text {
    font-weight: normal;
    font-size: 21px;
}